<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="">
                                <img src="assets/images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="">FPT Polytechnic</a></li>
                                    <li><a href="/subject">Môn học</a></li>
                                    
                                    <li><a href="about.html">Giới thiệu</a></li>
                                    
                                    <li><a href="contact.html">Liên hệ</a></li>
                                    <li><a href="#">Ngành học <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="#">Công nghệ thông tin</a></li>
                                            <li><a href="#">Marketing</a></li>
                                            <li><a href="#">Đồ hoạ</a></li>
                                        </ul>
                                    </li>
                                    <!-- <li><a href="#">Ngành học <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="course_details.html">course details</a></li>
                                            <li><a href="elements.html">elements</a></li>
                                        </ul>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="log_chat_area d-flex align-items-center">
                            <a href="/login" class="login">
                                <i class="flaticon-user"></i>
                                <span>Tài khoản</span>
                            </a>
                            <div class="live_chat_btn">
                                <a class="boxed_btn_orange" href="#">
                                    <i class="fa fa-phone"></i>
                                    <span>0938700334</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

